@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: 'Fira Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
  font-family: 'Fira Sans', sans-serif;
}

/* #F29228 */
/* #A9CF33 */
/* #689D79 */

.homebg {
  background-image: url(./assets/rajsahi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
